<a href="https://colab.research.google.com/github/geharpz/algoritmos_optimizacion_miar2023/blob/seminario/src/seminario/Seminario_Algoritmos_Diocles_German_Avendano_Ponce.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Algoritmos de optimización - Seminario<br>
Nombre y Apellidos:Diocles Germán Avendaño Ponce <br>
Url: https://github.com/.../03MAIR---Algoritmos-de-Optimizacion---2019/tree/master/SEMINARIO<br>
Problema:
> 1. Sesiones de doblaje <br>

Descripción del problema:<br>

Se precisa coordinar el doblaje de una película. Los actores del doblaje deben coincidir en las
tomas en las que sus personajes aparecen juntos en las diferentes tomas. Los actores de
doblaje cobran todos la misma cantidad por cada día que deben desplazarse hasta el estudio de
grabación independientemente del número de tomas que se graben. No es posible grabar más
de 6 tomas por día. El objetivo es planificar las sesiones por día de manera que el gasto por los
servicios de los actores de doblaje sea el menor posible

(*) La respuesta es obligatoria

(*)¿Cuantas posibilidades hay sin tener en cuenta las restricciones?<br>



¿Cuantas posibilidades hay teniendo en cuenta todas las restricciones.

Respuesta

Modelo para el espacio de soluciones<br>
(*) ¿Cual es la estructura de datos que mejor se adapta al problema? Argumentalo.(Es posible que hayas elegido una al principio y veas la necesidad de cambiar, arguentalo)

Respuesta

Según el modelo para el espacio de soluciones<br>
(*)¿Cual es la función objetivo?

(*)¿Es un problema de maximización o minimización?

Respuesta

Diseña un algoritmo para resolver el problema por fuerza bruta

Respuesta

Calcula la complejidad del algoritmo por fuerza bruta

Respuesta

(*)Diseña un algoritmo que mejore la complejidad del algortimo por fuerza bruta. Argumenta porque crees que mejora el algoritmo por fuerza bruta

Respuesta

(*)Calcula la complejidad del algoritmo

Respuesta

Según el problema (y tenga sentido), diseña un juego de datos de entrada aleatorios

Respuesta

Aplica el algoritmo al juego de datos generado

Respuesta

Enumera las referencias que has utilizado(si ha sido necesario) para llevar a cabo el trabajo

Respuesta

Describe brevemente las lineas de como crees que es posible avanzar en el estudio del problema. Ten en cuenta incluso posibles variaciones del problema y/o variaciones al alza del tamaño

Respuesta

In [51]:
#Liberias
import random
import math
import numpy as np
import pandas as pd
import os

In [52]:
#Importacion de datos
csv_path = os.path.join('Dataset', 'problema_doblaje.csv')
# Se carga el archivo en un DataFrame
dubbing_data = pd.read_csv(csv_path, header=None, sep=',')

np_takes = dubbing_data.to_numpy()

In [53]:
def lower_temp(temperature, cool_factor):
    return temperature*cool_factor

def build_index_table(size, name):
    list_index=["Takes"]
    for i in range(size):
        list_index.append(f"{name}{i+1}")
    return list_index


def keep_temperature(p, n):
    return len(p)*n

def cost(takes):
    dic={}
    total_cost = 0
    take_count = 0
    for take in takes:
    
        for actor  in range(1, len(take)-1):
            if(dic.get(actor)==None and take[actor]==1):
                dic[actor]=dic.get(actor,0)+take[actor]
            
        if(take_count==5):
            total_cost += sum(dic[x] for x in dic)
            take_count=0
            dic = {}
        else:
            take_count+=1

    return total_cost

def generate_random_neighbor(takes):
    """
    Genera un vecino aleatorio cambiando una toma de un día aleatorio.
    """
    new_takes = np.copy(takes)
    num_rows = new_takes.shape[0]

    # Crear una lista con los índices de las filas
    row_indexs = list(range(num_rows))

    # Mezclar los índices de las filas de forma aleatoria
    np.random.shuffle(row_indexs)

    # Intercambiar las filas utilizando los índices mezclados
    return new_takes[row_indexs, :]


def initial_temperature(cost):
    return cost*0.4

def acceptance_requirements(cost,temperature):
    return random.random() <  math.exp( -1*cost / temperature)

def simulated_annealing(session, tf, cool_factor):
    best_session = np.copy(session)
    best_cost=cost(best_session)
    t = initial_temperature(best_cost)
    it = 0
    while t >= tf:
        it+=1
        for _ in range(keep_temperature(best_session, 1)):

            neighbor = generate_random_neighbor(best_session)
            new_cost = cost(neighbor)
            difference_cost = new_cost - best_cost
            if difference_cost < 0 or acceptance_requirements(difference_cost,t):
                best_session = np.copy(neighbor)
                best_cost = new_cost
        t = lower_temp(t, cool_factor)
   
    return best_session, best_cost, it
            
solution = simulated_annealing(np_takes, .00001, .85)


print(f"\ncon un costo total de: {solution[1]}")
print(f"\n Iteraciones: {solution[2]}")
print(f"\nLa mejor solución encontrada es:")
df_solution = pd.DataFrame(data=solution[0], columns=build_index_table(10, "Actor ")).set_index('Takes')
step=6 
start = 0
end = step

for i in range(int(len(np_takes)/6)):
    print(f"\nDía: {i+1}")
    display(df_solution.iloc[start:end,:])
    start+=step
    end+=step

con un costo total de: 31

 Iteraciones: 88

La mejor solución encontrada es:

Día: 1

,Actor 1,Actor 2,Actor 3,Actor 4,Actor 5,Actor 6,Actor 7,Actor 8,Actor 9,Actor 10
Takes,,,,,,,,,,
16,0,0,0,1,0,0,0,0,0,1
22,1,1,1,1,0,0,0,0,0,0
30,1,0,0,1,0,0,0,0,0,0
18,0,0,1,0,0,1,0,0,0,0
12,1,1,1,1,0,1,0,0,0,0
2,0,0,1,1,1,0,0,0,0,0

Día: 2

,Actor 1,Actor 2,Actor 3,Actor 4,Actor 5,Actor 6,Actor 7,Actor 8,Actor 9,Actor 10
Takes,,,,,,,,,,
11,1,1,1,0,1,0,0,1,0,0
5,0,1,0,1,0,0,0,1,0,0
23,1,0,1,0,0,0,0,0,0,0
21,0,0,0,0,0,1,0,1,0,0
17,1,0,1,0,0,0,0,0,0,0
8,1,1,0,0,0,1,0,0,0,0

Día: 3

,Actor 1,Actor 2,Actor 3,Actor 4,Actor 5,Actor 6,Actor 7,Actor 8,Actor 9,Actor 10
Takes,,,,,,,,,,
4,1,1,0,0,0,0,1,1,0,0
25,1,1,0,1,0,0,0,0,0,1
9,1,1,0,1,0,0,0,0,0,0
7,1,1,0,1,1,0,0,0,0,0
15,1,1,0,0,0,0,1,0,0,0
3,0,1,0,0,1,0,1,0,0,0

Día: 4

,Actor 1,Actor 2,Actor 3,Actor 4,Actor 5,Actor 6,Actor 7,Actor 8,Actor 9,Actor 10
Takes,,,,,,,,,,
26,1,0,1,0,1,0,0,0,1,0
24,0,0,1,0,0,1,0,0,0,0
6,1,1,0,1,1,0,0,0,0,0
13,1,0,0,1,1,0,0,0,0,0
1,1,1,1,1,1,0,0,0,0,0
10,1,1,0,0,0,1,0,0,1,0

Día: 5

,Actor 1,Actor 2,Actor 3,Actor 4,Actor 5,Actor 6,Actor 7,Actor 8,Actor 9,Actor 10
Takes,,,,,,,,,,
27,0,0,0,1,1,0,0,0,0,0
28,1,0,0,1,0,0,0,0,0,0
14,1,0,1,0,0,1,0,0,0,0
29,1,0,0,0,1,1,0,0,0,0
20,1,0,1,1,1,0,0,0,0,0
19,1,0,1,0,0,0,0,0,0,0